h1 {
    text-align: center;
}
.nav {
    list-style-type: none;
    background-color: #003046;
    padding: 1em;
    overflow: hidden;
    display: inline-flex;
    align-content: center;
    text-align: center;
  }
  li a:hover {
    background-color: lightpink;
    color:orangered;
  }
.navbar-brand {
  font-family: 'Cedarville Cursive', cursive;
  color: pink;
  font-size: 25px;
}
